## Import Basic Library

In [1]:
from pathlib import Path 
!pip install pyecharts
import pandas as pd  
from pyecharts import options as opts  
from pyecharts.charts import Bar, Calendar, Tab

Collecting pyecharts
  Downloading pyecharts-2.0.1-py3-none-any.whl (146 kB)
     -------------------------------------- 146.0/146.0 kB 1.5 MB/s eta 0:00:00
Collecting prettytable
  Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)
Requirement already satisfied: jinja2 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pyecharts) (3.1.1)
Collecting simplejson
  Downloading simplejson-3.18.3-cp310-cp310-win_amd64.whl (74 kB)
     ---------------------------------------- 74.9/74.9 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from jinja2->pyecharts) (2.1.1)
Requirement already satisfied: wcwidth in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from prettytable->pyecharts) (0.2.5)
Installing collected packages: simplejson, prettytable, pyecharts
Successfully installed prettytable-3.6.0 pyecharts-2.0.1 simplejson-3.18.3

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

## Load Data SET

In [14]:
df = pd.read_csv('financial.csv')
df.head()

,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2017-114412,4/15/21,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432
1,US-2017-156909,7/16/21,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196
2,CA-2017-107727,10/19/21,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,Texas,77095,Central,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468
3,CA-2017-120999,9/10/21,Standard Class,LC-16930,Linda Cazamias,Corporate,United States,Naperville,Illinois,60540,Central,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,147.168,4,0.2,16.5564
4,CA-2017-139619,9/19/21,Standard Class,ES-14080,Erin Smith,Corporate,United States,Melbourne,Florida,32935,South,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",95.616,2,0.2,9.5616

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       3312 non-null   object
 1   Order Date     3312 non-null   object
 2   Ship Mode      3312 non-null   object
 3   Customer ID    3312 non-null   object
 4   Customer Name  3312 non-null   object
 5   Segment        3312 non-null   object
 6   Country        3312 non-null   object
 7   City           3312 non-null   object
 8   State          3312 non-null   object
 9   Postal Code    3312 non-null   int64
 10  Region         3312 non-null   object
 11  Product ID     3312 non-null   object
 12  Category       3312 non-null   object
 13  Sub-Category   3312 non-null   object
 14  Product Name   3312 non-null   object
 15  Sales          3312 non-null   float64
 16  Quantity       3312 non-null   int64
 17  Discount       3312 non-null   float64
 18  Profit         3312 non-null   float64
dtypes: float64(3), int64(2), object(14)
memory usage: 491.8+ KB

In [16]:
df['Order Date'] =pd.to_datetime(df['Order Date'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       3312 non-null   object
 1   Order Date     3312 non-null   datetime64[ns]
 2   Ship Mode      3312 non-null   object
 3   Customer ID    3312 non-null   object
 4   Customer Name  3312 non-null   object
 5   Segment        3312 non-null   object
 6   Country        3312 non-null   object
 7   City           3312 non-null   object
 8   State          3312 non-null   object
 9   Postal Code    3312 non-null   int64
 10  Region         3312 non-null   object
 11  Product ID     3312 non-null   object
 12  Category       3312 non-null   object
 13  Sub-Category   3312 non-null   object
 14  Product Name   3312 non-null   object
 15  Sales          3312 non-null   float64
 16  Quantity       3312 non-null   int64
 17  Discount       3312 non-null   float64
 18  Profit         3312 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(13)
memory usage: 491.8+ KB

In [31]:
#df["Region"].value_counts()
#df['Category'].value_counts()
#df['State'].value_counts()
df['Customer Name'].value_counts()

Seth Vernon       20
John Lee          20
Dean percer       19
Mick Hernandez    19
Lena Cacioppo     17
                  ..
Evan Bailliet      1
Bobby Odegard      1
Sheri Gordon       1
Thea Hendricks     1
Andrew Allen       1
Name: Customer Name, Length: 693, dtype: int64

In [32]:
# Add month column to our dataFrame
df['Month'] = df['Order Date'].dt.month
df.head(3)

,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Month
0,CA-2017-114412,2021-04-15,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432,4
1,US-2017-156909,2021-07-16,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196,7
2,CA-2017-107727,2021-10-19,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,Texas,77095,Central,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468,10

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       3312 non-null   object
 1   Order Date     3312 non-null   datetime64[ns]
 2   Ship Mode      3312 non-null   object
 3   Customer ID    3312 non-null   object
 4   Customer Name  3312 non-null   object
 5   Segment        3312 non-null   object
 6   Country        3312 non-null   object
 7   City           3312 non-null   object
 8   State          3312 non-null   object
 9   Postal Code    3312 non-null   int64
 10  Region         3312 non-null   object
 11  Product ID     3312 non-null   object
 12  Category       3312 non-null   object
 13  Sub-Category   3312 non-null   object
 14  Product Name   3312 non-null   object
 15  Sales          3312 non-null   float64
 16  Quantity       3312 non-null   int64
 17  Discount       3312 non-null   float64
 18  Profit         3312 non-null   float64
 19  Month          3312 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(13)
memory usage: 517.6+ KB

In [41]:
df.sum()[['Sales','Profit']]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_20256\4099349881.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum()[['Sales','Profit']]

Sales     733215.2552
Profit     93439.2696
dtype: object

In [44]:
#group dataFrame by months
grouped_by_months = df.groupby(by=['Month']).sum()[['Sales', 'Profit']]
grouped_by_months.head(3)

            Sales      Profit
Month
1      43971.3740   7140.4391
2      20301.1334   1613.8720
3      58872.3528  14751.8915

In [55]:
# plot sales & profit by months
bar_chart_by_month = (
    Bar()
    .add_xaxis(grouped_by_months.index.tolist())
    .add_yaxis('Sales',grouped_by_months["Sales"].round(0).tolist())
    .add_yaxis('Profit',grouped_by_months["Profit"].round(0).tolist())
    .set_global_opts(
        title_opts=opts.TitleOpts(title='Sales & Profit by month', subtitle='in USD')
    )
    

)

AttributeError: 'Bar' object has no attribute 'html'

In [54]:
bar_chart_by_month.render(bar_chart_by_month.html)

AttributeError: 'Bar' object has no attribute 'html'